@import '../../common/styles/_variables.scss';
@import '../../common/styles/_function.scss';
@import '../../common/styles/_variables.scss';
@import '../../common/styles/_colors.scss';
@import '../../common/styles/_helper.scss';
.job-details-container {
  .job-detail-title {
    margin-top: em(20);
  }
  .heading-job-detail {
    text-transform: uppercase;
    color: $color__primary__text;
  }
  ul {
    li {
      color: rgba($color__primary__text, 0.6);
    }
  }
  .apply-job {
    background-color: rgba($color: #000000, $alpha: 0.05)
  }
}