$color__black: #000000;
$color__white: #ffffff;
$color__primary__text: #101241;


$color__card__first: #2C84FF;
$color__card__second : #225BBA;
$color__card__third: #1A3982;
$color__card__fourth : #101241;