@font-face {
  font-family: 'Arial-BoldMT';
  src: url('../../assets/fonts/Arial-BoldMT.ttf')format('truetype');
}
@font-face {
  font-family: 'Arial-MT';
  src: url('../../assets/fonts/Arial-MT.ttf')format('truetype');
}

@font-face {
  font-family: 'Arial-ItalicMT';
  src: url('../../assets/fonts/Arial-ItalicMT.ttf')format('truetype');
}