@import './_function.scss';
@import './_fonts.scss';
.no-padding {
  padding: 0 !important;
}

.padding-middle {
  margin-bottom: em(80);
}

.spacing-lg {
  margin: em(40) em(0);
}

.spacing-md {
  margin: em(30) em(0);
}

.spacing-sm {
  margin: em(20) em(0);
}

.hide-element {
  display: none !important;
}

.primary-font {
  font-family: 'Arial-BoldMT' !important;
}

.primary-light-font {
  font-family: 'Arial-MT' !important;
}

.primary-italic-font {
  font-family: 'Arial-ItalicMT' !important;
}

.font-weight-bold {
  font-family: Gilroy-Bold !important;
}