@import './_function.scss';

//Typography

$font-size-x-small: em(10);

$font-size-small: em(12);

$font-size-medium: em(14);

$font-size-medium_plus: em(15);

$font-size-large: em(16);

$font-size-large_level_2: em(18);

$font-size-large_level_3: em(25);

$font-size-x-large: em(30);

$font-size-xx-large: em(40);

$font-size-xxx-large: em(50);
