@import '../../common/styles/_variables.scss';
@import '../../common/styles/_function.scss';
@import '../../common/styles/_fonts.scss';
@import '../../common/styles/_colors.scss';
@import '../../common/styles/_helper.scss';
footer {
  right: 0;
  left: 0;
  bottom: 0;
  padding: em(20) em(10);
  position: relative;
  background-color: $color__primary__text;
  border-top: em(1) solid $color__white;
  p {
    color: $color__white;
  }
}